openapi: 3.1.0
info:
  title: Google Calendar Event API
  version: 1.0.0
  description: API for creating and managing Google Calendar events.

servers:
  - url: https://www.google.com/calendar/event
    description: Development Server

paths:
  /privacy:
    get:
      summary: Privacy Policy
      description: Returns the privacy policy of the application.
      responses:
        "200":
          description: HTML page containing the privacy policy.
          content:
            text/html:
              schema:
                type: string

  /startAuth:
    get:
      summary: Start Google OAuth Authentication
      description: Initiates the OAuth 2.0 flow to authenticate with Google.
      responses:
        "200":
          description: Returns the Google OAuth authorization URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth_url:
                    type: string
                    description: Google OAuth authorization URL.

  /handleAuth:
    get:
      summary: Handle OAuth Authentication Callback
      description: Handles the callback from Google OAuth and stores the access token.
      responses:
        "200":
          description: Authentication successful message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication successful!

  /createEvent:
    post:
      summary: Create a Google Calendar Event
      description: Creates a new event in the user's Google Calendar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Title of the event.
                  example: Team Meeting
                start_time:
                  type: string
                  format: date-time
                  description: Start time of the event (ISO 8601 format).
                  example: 2024-12-01T10:00:00
                end_time:
                  type: string
                  format: date-time
                  description: End time of the event (ISO 8601 format).
                  example: 2024-12-01T11:00:00
                location:
                  type: string
                  description: Location of the event.
                  example: Conference Room
                description:
                  type: string
                  description: Description of the event.
                  example: Discussing Q4 goals.
      responses:
        "200":
          description: Event created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event created successfully!
                  event_link:
                    type: string
                    description: Link to the created event in Google Calendar.
                    example: https://www.google.com/calendar/event?eid=abc123xyz
        "400":
          description: Bad request due to missing or invalid input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Title, start_time, and end_time are required.
        "401":
          description: User not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: User not authenticated. Please authenticate at /startAuth.
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An unexpected error occurred.

components:
  schemas:
    Event:
